{
  "extends": "eslint-config-umi",
  "globals": {
    "USE_TOKEN": false
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "semi": [2, "always"],
    "camelcase": 1,
    "comma-dangle": [2, "always-multiline"]
  }
}
